@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  :root {
    --dark-purple: hsla(242, 83%, 7%, 1);
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
